<div class="privacy-container">

    <div class="privacy-card">

        <button class="privacy-close" mat-icon-button aria-label="Close" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    
        <div class="privacy-content">
        
            <h1 style="font-size: 26px; color: rgb(142, 25, 25); height: 10%; display: flex; justify-content: center; align-items: center;">THE RED DRAGON SOCIETY</h1>

            <p>How the Red Dragon Society deals with privacy issues:</p>
            <p> - Articles and Forum Posts are collected and never deleted</p>
            <p> - The Society holds the right to hide Articles and Forum Posts</p>
            <p> - The society does not collect cookies or user analytics</p>
            <p> - All user information collected is in the user profile</p>
            <p> - Most profile information is optional</p>
            <p> - Non-optional profile information is for uniqueness and recovery</p>
            <p> - If you have privacy concerns contact:<a href="mailto:reddragonsociety@outlook.com">At Red Dragon Society</a></p>

        </div>

    </div>

</div>