<div class="calendar-container">

    <div class="calendar-card">

        <div class="calendar-header">
            <p>Choose Date or Range</p>
        </div>

        <div class="calendar-from-to">

            <div class="calendar-from"
                [ngClass]="{ 'selected-edge': selectedEdge === 'from', 'unselected-edge': selectedEdge !== 'from' }"
                (click)="selectedEdge = 'from'">

                @if(selectedFromDate){
                <span>
                    From: {{ selectedFromDate | date: 'EEE, MMMM d' }}<br>
                    {{ selectedFromDate | date: 'yyyy' }}
                </span>
                }
                @else {
                <ng-template #noDate>—</ng-template>
                }

            </div>

            <div class="calendar-to"
                [ngClass]="{ 'selected-edge': selectedEdge === 'to', 'unselected-edge': selectedEdge !== 'to' }"
                (click)="selectedEdge = 'to'">

                @if(selectedToDate){
                <span>
                    To: {{ selectedToDate | date: 'EEE, MMMM d' }}<br>
                    {{ selectedToDate | date: 'yyyy' }}
                </span>
                }
                @else{
                <ng-template #noDate>—</ng-template>
                }                
            </div>

        </div>

        <div class="calendar-year-month">

            <select class="calendar-month" [(ngModel)]="selectedMonth" (ngModelChange)="generateCalendar()">

                @for (month of monthOptions; track trackMonthFN($index, month)) {

                <option [value]="month.value">{{ month.label }}</option>

                }
            </select>

            <select class="calendar-year" [(ngModel)]="selectedYear" (ngModelChange)="generateCalendar()">

                @for (year of yearOptions; track trackYearFN($index, year)) {

                <option [value]="year">{{ year }}</option>

                }
            </select>

        </div>

        <div class="calendar-grid">

            @for (day of weekDays; track trackDayFN($index, day)) {

            <div class="calendar-day">
                {{ day }}
            </div>

            }

            @for (date of calendarDays; track trackDateFN($index, date)) {

            <div class="calendar-cell" (click)="onCalendarCellClick(date)">

                @if (date.getMonth() !== +selectedMonth) {

                <div class="calendar-off-month"></div>

                }

                <!-- Range ends (same day or edges of a range) -->
                @if (stripTime(date) === stripTime(selectedFromDate) ||
                stripTime(date) === stripTime(selectedToDate)) {

                <div class="calendar-range-ends"></div>

                }

                <!-- Range between -->
                @if (stripTime(selectedFromDate) !== stripTime(selectedToDate) &&
                stripTime(date) > stripTime(selectedFromDate) &&
                stripTime(date) < stripTime(selectedToDate)) { <div class="calendar-range">
            </div>

            }

            <p>{{ date.getDate() }}</p>

        </div>

        }

    </div>

</div>