<div class="fnav-container">

  <app-component-calendar class="fnav-calendar" (blurDateRange)="onDateRangeUpdate($event)" />

  <!-- Left Panel: Filters & Results -->
  <div class="fnav-card">

    <!-- Category Dropdown -->
    <select class="fnav-category" [(ngModel)]="selectedCategory" (change)="fetchThreads()">

      @for (category of categoryOptions; track categoryTrackFN($index, category)) {

      <option [value]="category.value">
        {{ category.label }}
      </option>

      } @empty {

      <option disabled>Unspecified</option>

      }

    </select>

    <!-- Hashtag Input -->
    <input class="fnav-hashtags" type="text" [(ngModel)]="hashtags" (input)="formatHashtags()"
      placeholder="#hashtags" />

    <!-- User Regex -->
    <app-component-users class="fnav-user-selection" (userSelected)="onSelectedUserChange($event)" />

  </div>

</div>