.anav-container {
  position: relative;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.anav-calendar {
  position: absolute;
  height: 94%;
  right: 2%;
  width: 20%;
}

.anav-card {
  position: absolute;
  height: 94%;
  left: 2%;
  width: 20%;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  background-color: #544380;
  border-radius: 10px;
}

.anav-category {
  flex: 0 1 2.4em;
  font-size: 1em;
  padding: 0.2em;
  background-color: whitesmoke;
  border-color: whitesmoke;
  border-radius: 10px 10px 0px 0px;
}

.anav-hashtags {
  flex: 0 1 2.4em;
  font-size: 1em;
  padding: 0.2em;
  background-color: whitesmoke;
  border-color: whitesmoke;
}

.anav-user-selection {
  flex: 1 1 auto;
}
