.findex-container {
  position: relative;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.findex-header {
  position: absolute;
  top: 0%;
  height: 30%;
  left: 0%;
  width: 100%;
}

.findex-nav{
  position: absolute;
  top: 30%;
  height: 65%;
  left: 0%;
  width: 100%;
}

.findex-list-card {
  position: absolute;
  top: 30%;
  height: 61%;
  left: 25%;
  width: 50%;
  padding: .5em;
  display: flex;
  flex-direction: row;
  gap: 0.35em;
  background-color: #544380;
  border-radius: 10px 0px 0px 10px;
}

.findex-list-new {
  flex: 0 0 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 10px 0px 0px 10px;
}

.findex-listed-container {
  flex: 1 1 96%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 0.35em;
  scrollbar-color: #544380 whitesmoke;
}

.findex-thread-card {
  flex: 0 0 auto;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.thread-content {
  flex: 0 1 67%;
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  gap: 0.2em;
  background-color: whitesmoke;
}

.thread-title {
  flex: 0 0 1.6em;
  font-size: 1.2em;
  max-height: 3.4em;
  overflow-wrap: normal;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid black;
}

.thread-body {
  flex: 0 1 5.6em;
  font-size: 0.8em;
  line-height: 1.4em;
  overflow-y: hidden;
  white-space: normal;
  overflow-wrap: normal;
  word-break: normal;
  text-overflow: ellipsis;
}

.thread-footer {
  flex: 0 0 0.7em;
  padding-top: 0.25em;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
}

.thread-author{
  flex: 1;
  font-size: 0.6em;
}

.thread-date{
  flex: 1;
  font-size: 0.6em;
}

.thread-category{
  flex: 1;
  font-size: 0.6em;
}

.thread-hashtags{
  flex: 0 0 0.7em;
  padding-top: 0.5em;
  font-size: 0.6em;
  border-top: 1px solid black;
}

.thread-image{
  flex: 0 1 auto;
  width: 32.6%;
}

.findex-footer {
  position: absolute;
  bottom: 0%;
  height: 5%;
  left: 0%;
  width: 100%;
}