.login-container{
  position: static;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
}

.login-card{
  position: relative;
  top: 25%;
  height: 50%;
  left: 35%;
  width: 30%;
  background-image: url('../../../../public/LoginCard.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-username{
  position: absolute;
  top: 17%;
  height: 7%;
  left: 20%;
  width: 60%;
  background-color: whitesmoke;
}

.login-username::placeholder{
  font-size: 14px;
  padding-left: 0.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: end;
}

.login-password{
  position: absolute;
  top: 32%;
  height: 7%;
  left: 20%;
  width: 60%;
  background-color: whitesmoke;
}

.login-password::placeholder{
  font-size: 14px;
  padding-left: 0.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: end;
}

.login-invalid{
  position: absolute;
  top: 44%;
  height: 7%;
  left: 10%;
  width: 80%;
  text-align: center;
}

.login-invalid p{
  font-size: 20px;
  color: black;
}

.login{
  position: absolute;
  top: 54%;
  height: 7%;
  left: 20%;
  width: 60%;
  background-color: whitesmoke;
}

.login-forgot-password{
  position: absolute;
  top: 64%;
  height: 7%;
  left: 15%;
  width: 35%;
  border-right: 3px solid black;
}

.login-forgot-password p{
  font-size: 18px;
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.login-forgot-password p:hover{
  text-decoration: underline;
}

.login-create-user{
  position: absolute;
  top: 64%;
  height: 7%;
  right: 15%;
  width: 35%;
}

.login-create-user p{
  font-size: 18px;
  padding-left: 0.5em;;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.login-create-user p:hover{
  text-decoration: underline;
}

.login-copyright{
  position: absolute;
  top: 74%;
  height: 7%;
  left: 50%;
  width: 60%;
  text-align: center;
  transform: translateX(-50%);
}

.login-copyright p{
  font-size: 18px;
  color: black;
}
