<div class="legal-container">

    <div class="legal-card">

        <button class="legal-close" mat-icon-button aria-label="Close" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    
        <div class="legal-content">
        
            <h1 style="font-size: 26px; color: rgb(142, 25, 25);">THE RED DRAGON SOCIETY</h1>

            <p>The Red Dragon Society website is a public discourse site meant to be used to discus a variety of issues including social and political sciences, philosophy and STEM. We engage in sensitive discussions, including discussions on religion, finances, investments, and political engagement.</p> 
            
            <p>The site is for members who are interested in the Red Dragon Society as both a political party and global social organization. Administration focuses on maintaining the integrity of this site but is not liable for any comments or pictures posted by its users. We aim to filter content and keep it clean.</p>

            <h2 style="font-size: 20px; color: rgb(142, 25, 25);">LIMITATIONS OF LIABILITY</h2>

            <p>Though professionals may be posting on this site, the information contained in this website is for general information purposes only.</p>
            
            <p>The information is provided by the users of the Red Dragon society and while we endeavour to keep the site clean and free of disinformation the following holds:</p>
            
            <p>We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information or related graphics contained on the website for any purpose.</p>
            
            <p>Any reliance you place on such information is therefore strictly at your own risk.</p>
 
            <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

            <p>Every effort is made to keep the website up and running smoothly. However, the Red Dragon Society takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>

            <p>If you have further legal concerns contact:<a href="mailto:reddragonsociety@outlook.com">At Red Dragon Society</a></p>

        </div>

    </div>

</div>