<div class="about-container">

    <div class="about-card">

        <div class="about-close" mat-icon-button aria-label="Close" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </div>

        <div class="about-content">

            <h1 style="font-size: 26px; color: rgb(142, 25, 25); height: 10%; display: flex; justify-content: center; align-items: center;">THE RED DRAGON SOCIETY</h1>

            <p>To contact administation with respect to:</p>
            <p> - volunteering to help in society activities</p>
            <p> - applying into leadership and society roles</p>
            <p> - arranging society community meetings</p>
            <p> - investing in branches of society</p>
            <p>Please contact us at:<a href="mailto:reddragonsociety@outlook.com">At Red Dragon Society</a></p>
            <p style="color: rgb(142, 25, 25);">For site assistance see contact under user options.</p>

        </div>
    
    </div>
          
</div>