<div class="user-container">
  <div class="user-card">
    <div class="user-option" aria-label="Profile">
      <mat-icon class="user-option-ico">account_circle</mat-icon>
      <div class="user-option-text" (click)="this.onProfilePopUp()">
        <p>Profile</p>
      </div>
    </div>
    <div class="user-option" aria-label="Purchases">
      <mat-icon class="user-option-ico">payments</mat-icon>
      <div class="user-option-text" (click)="this.onPurchasesPopUp()">
        <p>Purchases</p>
      </div>
    </div>
    <div class="user-option" aria-label="Wallet">
      <mat-icon class="user-option-ico">wallet</mat-icon>
      <div class="user-option-text" (click)="this.onWalletPopUp()">
        <p>Wallet</p>
      </div>
    </div>
    <div class="user-option" aria-label="Settings">
      <mat-icon class="user-option-ico">settings</mat-icon>
      <div class="user-option-text" (click)="this.onSettingsPopUp()">
        <p>Settings</p>
      </div>
    </div>
    <div class="user-option" aria-label="Contact">
      <mat-icon class="user-option-ico">email</mat-icon>
      <div class="user-option-text" (click)="this.onContactPopUp()">
        <p>Contact</p>
      </div>
    </div>
    <div class="user-option" aria-label="Logout">
      <mat-icon class="user-option-ico">logout</mat-icon>
      <div class="user-option-text" (click)="this.onLogoutPopUp()">
        <p>Logout</p>
      </div>
    </div>
  </div>

  @if (isProfilePopUp){

  <app-component-profile (notify)="this.onClose()"></app-component-profile>

  }

  @if (isPurchasesPopUp){

  <app-component-purchases (notify)="this.onClose()"></app-component-purchases>
  
  }

  @if (isWalletPopUp){

  <app-component-wallet (notify)="this.onClose()"></app-component-wallet>
  
  }

  @if (isSettingsPopUp){

  <app-component-settings (notify)="this.onClose()"></app-component-settings>
  
  }

  @if (isContactPopUp){

  <app-component-contact (notify)="this.onClose()"></app-component-contact>
  
  }

  @if (isLogoutPopUp){

  <app-component-logout (notify)="this.onClose()"></app-component-logout>

  }

</div>