<div class="fnew-container">

  <app-component-header class="fnew-header"/>

  <div class="fnew-card">

    <div class="fnew-confirm">
    
      <div class="fnew-confirm-accept" (click)="submitThread()">
        <mat-icon>save</mat-icon>
      </div>

      <div class="fnew-confirm-reject" [routerLink]="['/findex']" routerLinkActive="active">
        <mat-icon>delete</mat-icon>
      </div>

    </div>

    <div class="fnew-thread-info">

      <img
        class="fnew-image"
        [src]="IMAGE_REPO + this.pictureURL"
        alt="Thread Image"
        (click)="this.onFileSelectTriggered()"
      />
      <input type="file" #fileInput (change)="this.onFileSelected($event)" accept=".jpg,.webp" style="display: none" />

      <div class="fnew-details">
        <p>Author: {{ CurrentUser.UserName }}</p>
        <p>Date: {{ today | date: 'longDate' }}</p>
      </div>

      <input 
        type="number" 
        class="fnew-access" 
        [(ngModel)]="access" 
        min="0" 
        max="60" 
        value="0" 
        step="1" 
        (keydown)="onAccessChange()"/>

      <!-- Category Dropdown -->
      <select class="fnew-category" [(ngModel)]="selectedCategory">
        <option *ngFor="let cat of categoryOptions" [value]="cat.value">
          {{ cat.label }}
        </option>
      </select>

      <input
        type="text"
        class="fnew-hashtags"
        [(ngModel)]="hashtagInput"
        placeholder="up to 5 #hashtags"
        (input)="onHashtagInput($event)"
        (keydown)="onHashtagKeyDown($event)"
      />
    </div>

    <div class="fnew-content">
      <textarea class="fnew-title" placeholder="THREAD TITLE" [(ngModel)]="threadTitle"></textarea>

      <div class="fnew-text-container">
        <quill-editor
          class="fnew-text"
          #quillEditor
          [(ngModel)]="richTextContent"
          [styles]="{ height: '100%' }"
          [modules]="quillModules"
          theme="snow"
        >
        </quill-editor>
      </div>
    </div>
  </div>

  <app-component-footer class="fnew-footer"></app-component-footer>
</div>
