<div class="tos-container">

    <div class="tos-card">

        <button class="tos-close" mat-icon-button aria-label="Close" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    
        <div class="tos-content">
        
            <h1 style="font-size: 26px; color: rgb(142, 25, 25);">THE RED DRAGON SOCIETY</h1>

            <p>The purpose of the Red Dragon Society website is to facilitate conversation between its members and the public. Threats of violence and targeted harassment of any kind will not be tolerated and will result in the permanent locking of your account.</p>

            <h2 style="font-size: 20px; color: rgb(142, 25, 25);">SITE GUIDELINES</h2>

            <p>Violent Content: You may not share graphic media as either your Avatar or as an Article's banner.</p>

            <p>Violent & Hateful Entities: You can discuss, but cannot promote the activities of violent and hateful entities.</p>

            <p>Child Safety: This is not the place to have discussions about children. All posts related to children will be removed. Any post that involves children that is subject to law will be reported and the account locked.</p>

            <p>Abuse/Harassment: You may not share abusive content, engage in the targeted harassment of individuals, or incite other people to do so.</p>

            <p>Religion: We do not protect the image of religion on this site. This is absolutely the place to discuss what makes any and all religions good or bad. No religion is protected. Be open, be respectful.</p>

            <p>Hateful conduct: Slander and malicious speech against groups or individuals on the basis of race, ethnicity, national origin, caste, sexual orientation, gender, gender identity, religious affiliation, age, disability, or serious disease will result in a locked account.</p> 

            <p>Threats of Violence: Accounts maintained by individual perpetrators of terrorist, violent extremist, or mass violent attacks will be locked.</p>

            <p>Suicide: You may not promote or encourage suicide or self-harm.</p>

            <p>Adult Content: You may not share any adult content in your Avatar or Article banners. Your account will be locked.</p>

            <p>Illegal or Regulated Goods or Services: Selling and/or buying drugs, homeopathics, sexual services or anything else we see as unfit through Articles will result in a locked account.</p>

            <p>A Locked Account: User will not be able to login, all activity will be retained but hidden.</p>

            <h2 style="font-size: 26px; color: rgb(142, 25, 25);">PRIVACY</h2>
 
            <p>Private Information: You may not publish or post other people's private information such as home phone number and address or suggest other's to do so.</p>

            <p>Account Compromise: You may not use or attempt to use credentials, passwords, tokens, keys, cookies or other data to log into or otherwise access, add, delete or modify the private information or account features of any account other than your own.</p>

            <h2 style="font-size: 26px; color: rgb(142, 25, 25);">AUTHENTICITY</h2>

            <p>Platform Manipulation and Spam: You may not use the Red Dragon Society website in a manner intended to artificially amplify or suppress information or engage in behavior that manipulates or disrupts the experience on this site.</p>

            <p>Civic Integrity: You may not use the Red Dragon Society website for the purpose of manipulating or interfering in elections or other civic processes. This includes posting or sharing content that may suppress participation or mislead people about when, where, or how to participate in a civic process.</p>

            <p>Politics: This is a political website. We fully encourage users to engage in the topics of politics, political science, social science, and STEM.</p>

            <p>Misleading and Deceptive Identities: You may not impersonate individuals, groups, or organizations to mislead, confuse, or deceive others, nor use a fake identity in a manner that disrupts the experience of others on X. Learn more.</p>

            <p>Synthetic and Manipulated Media: You may not deceptively share synthetic or manipulated media that are likely to be misleading or cause harm.</p>

            <p>Copyright and Trademark: You may not violate the intellectual property rights, including copyright and trademark of owners. Do not use intellectual property for Avatar or Article banners.</p>

            <h2 style="font-size: 26px; color: rgb(142, 25, 25);">ENFORCEMENT AND APPEALS</h2>

            <p>Administrators will handle enforcement and appeals directly.</p>
    
        </div>

    </div>

</div>