<div class="app-container">

  @if (this.isLanding) {
  <app-component-splash (ended)="onSplashEnd()" [videoFile]="'Landing.webm'">
  </app-component-splash>
  }

  @if (this.isEnter) {
  <button mat-button class="app-login-button" (click)="this.navLogin()">
    <p>LOGIN</p>
  </button>
  }

  @if (this.isLogin) {
  <img src="">
  <app-component-login class="app-login" (login)="onLogin()" (newuser)="onNewUser()">
  </app-component-login>
  }

  @if (this.isNew) {
  <app-component-new-user class="app-new-user" (notify)="navLogin()">
  </app-component-new-user>
  }

  @if (this.isLoaded) {
  <router-outlet />
  }

</div>