<div class="freader-container">

  <app-component-header class="freader-header"></app-component-header>
     
  <div class="freader">
    
    <div class="freader-card">
            
      <div class="freader-engage">

        <div class="freader-new">
          <mat-icon>note_add</mat-icon>
        </div>

        <div class="freader-close" [routerLink]="['/findex']" routerLinkActive="active">
          <mat-icon>close</mat-icon>
        </div>

      </div>
      
      <div class="freader-content">

        <div class="freader-title"></div>
        
        <div class="freader-conversation">
            
          <div class="freader-reply-content">
            <div class="freader-reply-card">
              <div class="freader-reply"></div>
              <div class="freader-details"></div>
            </div>
            <div class="freader-avatar"></div>
          </div>

          <div class="freader-reply-content">
            <div class="freader-reply-card">
              <div class="freader-reply"></div>
              <div class="freader-details"></div>
            </div>
            <div class="freader-avatar"></div>
          </div>

          <div class="freader-reply-content">
            <div class="freader-reply-card">
              <div class="freader-reply"></div>
              <div class="freader-details"></div>
            </div>
            <div class="freader-avatar"></div>
          </div>

          <div class="freader-reply-content">
            <div class="freader-reply-card">
              <div class="freader-reply"></div>
              <div class="freader-details"></div>
            </div>
            <div class="freader-avatar"></div>
          </div>

          <div class="freader-reply-content">
            <div class="freader-reply-card">
              <div class="freader-reply"></div>
              <div class="freader-details"></div>
            </div>
            <div class="freader-avatar"></div>
          </div>

        </div> 
        
      </div>
    
    </div>

  </div>
    
  <app-component-footer class="freader-footer"></app-component-footer>

</div>