.header-container {
    position: absolute;
    top: 0%;
    height: 100%;
    left: 0%;
    width: 100%;
}

.header-banner {
    position: absolute;
    overflow: hidden;
    top: 8%;
    left: 0%;
    height: 82%;
    width: 100%;
}

.header-banner-img {
    object-fit: contain;
}

.header-user {
    position: absolute;
    top: 5%;
    height: 15%;
    right: 3%;
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-user-ico {
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    box-sizing: border-box;
    color: red;
    text-shadow:
        -1px -1px 0 #840c2b,
        1px -1px 0 #840c2b,
        -1px 1px 0 #840c2b,
        1px 1px 0 #840c2b;
    border-right: 3px solid #bfa764;
}

.header-user-name {
    flex: 0 0 auto;
    font-family: 'Trebuchet MS' sans-serif;
    padding: 0.25em;
    padding-left: 0.5em;
    box-sizing: border-box;
}

.header-user-name p {
    font-size: 1.25em;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: red;
    text-shadow:
        -1px -1px 0 #840c2b,
        1px -1px 0 #840c2b,
        -1px 1px 0 #840c2b,
        1px 1px 0 #840c2b;
}

.header-navigation-container {
    position: absolute;
    top: 75%;
    height: 10%;
    right: 0%;
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
}

.header-navigation {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.header-navigation-ico {
    flex: 0 0 auto;
    width: 1.75em;
    padding: 0.25em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    text-shadow:
        -1px -1px 0 #840c2b,
        1px -1px 0 #840c2b,
        -1px 1px 0 #840c2b,
        1px 1px 0 #840c2b;
    border-right: 3px solid #bfa764;
}

.header-navigation-text {
    flex: 0 0 75%;
    font-size: 1.25em;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0.25em;
    padding-left: 0.5em;
    box-sizing: border-box;
    color: red;
    text-shadow:
        -1px -1px 0 #840c2b,
        1px -1px 0 #840c2b,
        -1px 1px 0 #840c2b,
        1px 1px 0 #840c2b;
}

.header-navigation-text:hover {
    text-decoration: underline;
}