.areader-container {
  position: relative;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.areader-header {
  position: absolute;
  top: 0%;
  height: 30%;
  left: 0%;
  width: 100%;
}

.areader-card {
  position: absolute;
  top: 30%;
  height: 62%;
  left: 10%;
  width: 80%;
  padding: 0.4em;
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  border-radius: 10px 10px 0px 10px;
  background-color: #544380;
}

.areader-confirm {
  flex: 0 0 3%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  border-radius: 10px 10px 0px 0px;
}

.areader-confirm-close {
  flex: 0 0 100%;
  background-color: whitesmoke;
  border: whitesmoke;
  border-radius: 10px 0px 0px 10px;
}

.areader-journal-info {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  overflow: hidden;
}

.areader-image {
  flex: 0 0 18.23%;
  max-width: 100%;
}

.areader-details {
  flex: 1 1 auto;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  scrollbar-color: #544380 whitesmoke;
}

.areader-details p {
  font-size: 1em;
  line-height: 1.4em;
}

.areader-category {
  flex: 0 0 8%;
  padding: 0.4em;
  background-color: whitesmoke;
}

.areader-hashtags {
  flex: 0 0 8%;
  padding: 0.4em;
  background-color: whitesmoke;
  scrollbar-color: #544380 whitesmoke;
}

.areader-content {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.areader-title {
  flex: 0 0 10%;
  font-size: 1.4em;
  padding: 0.4em;
  background-color: whitesmoke;
  border-radius: 0px 10px 0px 0px;
}

.areader-text-container {
  flex: 0 1 auto;
  overflow-y: scroll;
  background-color: whitesmoke;
  scrollbar-color: #544380 whitesmoke;
}

::ng-deep .areader-text-container p {
  display: block;
  flex: 0 0 auto;
  min-height: auto;
  height: auto;
  margin: 0.4em 0;
  padding: 0.4em;
  line-height: 1.4;
}

.areader-footer {
  position: absolute;
  bottom: 0%;
  height: 5%;
  left: 0%;
  width: 100%;
}
