<div class="areader-container">

    <app-component-header class="areader-header"></app-component-header>

    <div class="areader">

        <div class="areader-card">

            <div class="areader-confirm">

                <button class="areader-confirm-close" mat-icon-button [routerLink]="['/aindex']" routerLinkActive="active">
                    <mat-icon>close</mat-icon>
                </button>

            </div>

            <div class="areader-journal-info">

                <div class="areader-image"></div>

                <div class="areader-details">
                    <p>Author: Entangled-Logic Alpha</p>
                    <p>Date: April 6th, 2025</p>
                    <p>Details: A journal about Political Science, Economics, and Philosophy with occasional entries
                        about culture and crafting.</p>
                </div>

            </div>

            <div class="areader-content">

                <textarea class="areader-title" placeholder="WELCOME TO THE RED DRAGON SOCIETY"></textarea>

                <textarea class="areader-text"></textarea>

            </div>

        </div>

    </div>

    <app-component-footer class="areader-footer"></app-component-footer>

</div>