.users-container{
  position: relative;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.users-search-box{
  flex: 0 0 2.4em;
  display: flex;
  flex-direction: row;
  gap: 0.35em;
}

.users-regex{
  flex: 1 1 auto;
  min-width: 0em;
  background-color: whitesmoke;
  border-color: whitesmoke;
}

.users-search{
  flex: 0 0 2.4em;
  background-color: whitesmoke;
  border-color: whitesmoke;
}

.users-results-box{
  flex: 1 0 1.4em;
  background-color: whitesmoke;
  border-color: whitesmoke;
  border-radius: 0px 0px 10px 10px;
}

.users-results-box div {
  font-size: 1.2em;
  height: 1.6em;
  padding: 0.2em;  
}

.users-results-box div.selected {
  background-color: #d0bcff;
  color: #7f6dad;
  font-weight: bold;
}